// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

:root {
  --r: 0;
  --g: 100;
  --b: 50;
  --primary-color: rgb(var(--r), var(--g), var(--b));
}

$primary:      var(--primary-color);
//$primary:       #006432;
//$secondary:     #044826;

// Import Bootstrap
@import "bootstrap/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";
